{% extends 'myapp/base.html' %}

{% block title %}
  Items list
{% endblock %}

{% block body %}
  <h1>Товары:</h1>
  {% if items %}
    <div>
    {% for item in items %}
      <div>
        <p>Название: {{ item.name }}</a></p>
        <p>Цена: {{ item.price }} {{ item.currency }}</p>
        <p>Описание: {{ item.description }}</p>
        <p><a href="{% url 'item' pk=item.pk %}">Перейти к товару</a></p>

        <p></p>
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No items yet</h3>
  {% endif %}


{% endblock %}